#topPanel, #topRightPanel { /*background-color: #f5f3f3; */}
#workspace div.splitter-resizebar { width: 8px !important; }
#leftPanel {width: 460px; min-width: 347px;}
#leftPanel div.splitter-resizebar, #rightPanel div.splitter-resizebar { height: 0px !important; }
#topFilePanel, #bottomPanel, #topPanel, #topRightPanel, #rightPanel, #bottomRightPanel { width:100%; }
#BottomFilePanel {padding-left: 7px; height: 96px;}
#bottomPanel {border-top: 1px solid #ccc;}